@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@font-face {
  font-family: 'Aboreto';
  src: url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

}

nav {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navigation li {
  padding: 0 20px;
  margin: 10 20px;
  display: inline-block;
}

.navigation a {
  font-family: 'Aboreto', cursive;
  text-transform: uppercase;
  font-size: 30px;
  color: #282c34;
  text-decoration: none;
}

.suiteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  0 auto;
  padding: 175px 0 0 0;
}

.suiteList li {
  font-family: 'Aboreto', cursive;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  color: whitesmoke;
  opacity: 0.9;
  width: max-content;
  font-size: 50px;
}

.hawaii img {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background-image: url(./assets/hawaii1.png);
  background-repeat: no-repeat;
  background-size: cover;
  alt: "wall paper of a leopard asleep on a leaf";
}

.sicily {
  background-image: url(./assets/sicily1.png);
}

.hawaii {
  background-image: url(./assets/hawaii1.png);
}

.hawaii, .sicily {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
}

.home img {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background-image: url(./assets/home1.png);
  background-repeat: no-repeat;
  background-size: cover;
  alt: "white lotus hotel welcome screen";
}

.sicily img {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background-image: url(./assets/sicily1.png);
  background-repeat: no-repeat;
  background-size: cover;
  alt: "baroque painting";
}

.homePage {
  text-align: center;
}
